*{
    font-family: Helvetica, Verdana, sans-serif;
    box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: lightslategrey;
    font-size: 36px;
    font-weight: 800;
}

.sub {
    background-color: white;
    text-align: left;
    font-size: 28px;
}

.description{
    background-color: azure;
    text-align: center;
    margin: 16px;
    padding: 16px auto;

}
